 <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <li
          class="list-group-item">
        </li>
      </ul>
<!--      <ng-template [ngIf]="onlyOdd">-->
<!--        <div-->
<!--          *ngFor="let number of numbers"-->
<!--          >{{ number }}-->
<!--        </div>-->
<!--      </ng-template>-->
      <div *appUnless="onlyOdd">
        <div
          *ngFor="let number of numbers"
        >{{ number }}
        </div>
      </div>
      <p appBasicHighlight>Style me with a basic directive</p>
      <p appBetterHighlight [highlightColor]="'red'" [defaultColor]="'transparent'"> Style me with better basic directive</p>
    </div>
  </div>
</div>
